# Pandas

[Pandas](https://pandas.pydata.org), built on top of [NumPy](https://numpy.org), is the main Python package for manipulating data. 

The outline is the following:
* Series
* Dataframes
* Operations
* Missing data
* Concatenation
* Merge
* Grouping
* Read / write

In [ ]:
import numpy as np
import pandas as pd

## Series

In [ ]:
# 1D array
age = pd.Series([27, 42, 33, 51])

In [ ]:
age

In [ ]:
age[2]

In [ ]:
age.dtype

In [ ]:
age.values

In [ ]:
age.mean()

In [ ]:
age.describe()

In [ ]:
 1 / age

In [ ]:
# performance
a = pd.Series(np.arange(1, 10**4))

In [ ]:
%%time 
b = 1 / a

In [ ]:
%%time
b = np.zeros(len(a))
for i in range(len(a)):
    b[i] = 1 / a[i]

In [ ]:
%%time
b = a.map(lambda x: 1 / x)

In [ ]:
%%time
b = 1 / a.values

In [ ]:
# 1D array with index
age = pd.Series([27, 42, 33, 51], index=['Albert', 'Barbara', 'Cathy', 'David'], name='Age')

In [ ]:
age

In [ ]:
age.index

In [ ]:
# no write access!
try:
    age.index[1] = 'Emilie'
except:
    print('This is not allowed.')

In [ ]:
# from dictionary
age = pd.Series({'Albert': 27, 'Barbara': 42, 'Cathy': 33, 'David': 51}, name='Age')

In [ ]:
age

In [ ]:
# to dictionary
age.to_dict()

In [ ]:
# indexing
age['Albert']

In [ ]:
age[0]

In [ ]:
# modification
age['Albert'] = 28

In [ ]:
age[0]

In [ ]:
# insertion
age['Zoe'] = 40

In [ ]:
age

In [ ]:
# deletion
age.drop('Cathy')

In [ ]:
# slicing: final index included!
age['Barbara':'David']

In [ ]:
age[1:3]

In [ ]:
age['barbara':'albert']

In [ ]:
# boolean mask
age[age <= 40]

In [ ]:
# 1D array with integer index
age = pd.Series([27, 42, 33, 51], index=[10, 20, 30, 40])

In [ ]:
age

In [ ]:
# indexing
age[20]

In [ ]:
try:
    age[0]
except:
    print("This index is not available.")

In [ ]:
# slicing based on implicit indexing
age[1:4]

In [ ]:
# slicing based on explicit indexing
age.loc[10:30]

In [ ]:
# slicing based on implicit indexing
age.iloc[1:4]

In [ ]:
age.iloc[0]

In [ ]:
# advanced indexing
age = pd.Series({'Albert': 27, 'Barbara': 42, 'Cathy': 33, 'David': 51})
age[['Barbara', 'Albert', 'Cathy']]

In [ ]:
# histogram
values = np.random.randn(200)
s = pd.Series(values)
s.hist();

In [ ]:
# categories
choice = np.random.choice(['Yes', 'No'], 100)
s = pd.Series(choice, dtype='category')

In [ ]:
s

In [ ]:
s.value_counts()

In [ ]:
# cut
s = pd.Series(values)
pd.cut(s, 3)

In [ ]:
pd.cut(s, 3).value_counts()

In [ ]:
pd.cut(s, 3).value_counts(sort=False)

In [ ]:
pd.cut(s, [-np.inf, -1, 0, 1, np.inf]).value_counts(sort=False)

In [ ]:
# time index
dates = pd.date_range(start='2020/01/01', end='2020/12/31')
dates

In [ ]:
values = np.cumsum(np.random.randn(len(dates)))
ts = pd.Series(values, index=dates)
ts

In [ ]:
ts.plot();

In [ ]:
ts['2020-03-01':'2020-03-31'].count()

In [ ]:
ts['2020-03'].count()

In [ ]:
ts[:'2020-03-31'].count()

In [ ]:
# shift
ts.shift(30).dropna()

In [ ]:
# delta over 30 days
(ts.shift(30).dropna() - ts.iloc[:-30]).plot();

In [ ]:
# time elapsed in days
(dates - dates[30]).days

# DataFrame

In [ ]:
# series sharing the same index
age = pd.Series({'Albert': 27, 
                 'Barbara': 42, 
                 'Cathy': 33, 
                 'David': 51})
gender = pd.Series({'Albert': 'M', 
                    'Barbara': 'F', 
                    'Cathy': 'F', 
                    'David': 'M'})

In [ ]:
df = pd.DataFrame({'Age': age, 'Gender': gender})

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.size

In [ ]:
df.values

In [ ]:
# transpose
df.T

In [ ]:
df.T.columns

In [ ]:
# indexing -> columns
df['Age']

In [ ]:
df.Age

In [ ]:
df.Age.mean()

In [ ]:
df.Gender.value_counts()

In [ ]:
# slicing -> rows
df['Albert':'Cathy']

In [ ]:
try:
    df['Albert']
except:
    print("This is not a column!")

In [ ]:
df.loc['Albert']

In [ ]:
# insertion
df.loc['Zoe'] = (23, 'F')

In [ ]:
df

In [ ]:
# deletion
df.drop('Cathy')

In [ ]:
# explicit index
df.loc['Albert', 'Age']

In [ ]:
# implicit index
df.iloc[0, 0]

In [ ]:
# mixed index
df.iloc[0]['Age']

In [ ]:
df.loc['Albert'][0]

In [ ]:
# mask
df.loc[df.Age > 30, 'Gender']

In [ ]:
# sort
df.sort_values(by=['Gender', 'Age'])

In [ ]:
# advanced indexing
df.loc[['Barbara', 'David', 'Cathy']]

In [ ]:
# reset index
df.reset_index()

In [ ]:
df = df.reset_index()
df.rename(columns={"index": "Name"})

In [ ]:
# histogram
values1 = np.random.randn(100)
values2 = np.random.randn(100) + 2
values3 = np.random.choice(['Y', 'N'], 100)
df = pd.DataFrame({'A': values1, 'B': values2, 'C': values3})

In [ ]:
df.head()

In [ ]:
df.hist();

In [ ]:
# time index
dates = pd.date_range('1/1/2021', periods=100)
values1 = np.cumsum(np.random.randn(100))
values2 = np.cumsum(np.random.randn(100))
df = pd.DataFrame({'A': values1, 'B': values2}, index=dates)

In [ ]:
df.plot()

## Operations

In [ ]:
height = pd.Series({'Albert': 1.8, 
                    'Barbara': 1.6, 
                    'Cathy': 1.7, 
                    'David': 1.9})
weight = pd.Series({'Albert': 75, 
                    'Barbara': 52, 
                    'Cathy': 61, 
                    'David': 85})
df = pd.DataFrame({'Height': height, 'Weight': weight})

In [ ]:
df

In [ ]:
df.mean()

In [ ]:
1 / df

In [ ]:
np.cumsum(df)

In [ ]:
df / np.sum(df)

In [ ]:
df.apply(lambda x: x / np.sum(x))

In [ ]:
df['BMI'] = df.Weight / df.Height**2

In [ ]:
df

In [ ]:
df = np.round(df, 1)

In [ ]:
df

## Missing data

In [ ]:
# series
age = pd.Series({'Albert': 27, 'Barbara': None, 'Cathy': 33, 'David': 51})

In [ ]:
# observe the type
age

In [ ]:
1 / age

In [ ]:
age.isnull()

In [ ]:
age.dropna()

In [ ]:
age.fillna(0).astype(int)

In [ ]:
# forward fill (with previous value)
age.fillna(method='ffill')

In [ ]:
# dataframe
height = pd.Series({'Albert': 1.8, 
                    'Barbara': 1.6, 
                    'Cathy': None, 
                    'David': 1.9})
weight = pd.Series({'Albert': None, 
                    'Barbara': 52, 
                    'Cathy': 61, 
                    'David': 85})
df = pd.DataFrame({'Height': height, 'Weight': weight})

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.dropna()

In [ ]:
df.fillna(method='bfill')

## Concatenation

In [ ]:
s1 = pd.Series([27, 42, 33], index=['Albert', 'Barbara', 'Cathy'])
s2 = pd.Series([23, 40], index=['Zoe', 'David'])

In [ ]:
pd.concat([s1, s2])

In [ ]:
s1.append(s2)

In [ ]:
# duplicates
s3 = pd.Series([29, 51, 40], index=['Albert', 'Zoe', 'David'])

In [ ]:
pd.concat([s1, s3])

In [ ]:
pd.concat([s1, s3], ignore_index=True)

In [ ]:
# dataframes
df1 = pd.DataFrame({'Age': [27, 42, 33], 
                    'Gender': ['M', 'F', 'F']}, 
                    index=['Albert', 'Barbara', 'Cathy'])
df2 = pd.DataFrame({'Age': [23, 40], 
                    'Gender': ['F', 'M']}, 
                   index=['Zoe', 'David'])

In [ ]:
pd.concat([df1, df2])

In [ ]:
df1.append(df2)

In [ ]:
# new columns
df3 = pd.DataFrame({'Height': [1.8, 1.6, 1.7], 
                    'Weight': [85, 50, 60]}, 
                   index=['Albert', 'Barbara', 'Cathy'])

In [ ]:
pd.concat([df1, df3], axis=1)

## Merge

In [ ]:
# simple merge
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'], 
                    'Age': [27, 42, 33]})
df2 = pd.DataFrame({'Name': ['Cathy', 'Barbara', 'Albert'], 
                    'Gender': ['F', 'F', 'M']})

In [ ]:
pd.merge(df1, df2)

In [ ]:
# missing entries
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'], 
                    'Age': [27, 42, 33]})
df2 = pd.DataFrame({'Name': ['Cathy', 'Zoe', 'Albert'], 
                    'Gender': ['F', 'F', 'M']})

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
pd.merge(df1, df2, how='left')

In [ ]:
# several columns
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'], 
                    'Gender': ['M', 'F', 'F'], 
                    'Height': [1.8, 1.6, 1.7]})
df2 = pd.DataFrame({'Name': ['Cathy', 'Barbara', 'David'], 
                    'Gender': ['F', 'F', 'M'], 
                    'Weight': [60, 50, 70]})

In [ ]:
pd.merge(df1, df2)

In [ ]:
# discrepency
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Pat'], 
                    'Gender': ['M', 'F', 'F'], 
                    'Height': [1.8, 1.6, 1.7]})
df2 = pd.DataFrame({'Name': ['Pat', 'Barbara', 'David'], 
                    'Gender': ['M', 'F', 'M'], 
                    'Weight': [60, 50, 70]})

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
# explicit columns
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'], 
                    'Gender': ['M', 'F', 'F'], 
                    'Height': [1.8, 1.6, 1.7]})
df2 = pd.DataFrame({'Name': ['Cathy', 'Barbara', 'David'], 
                    'Sex': ['F', 'F', 'M'], 
                    'Weight': [60, 50, 70]})

In [ ]:
pd.merge(df1, df2, left_on=['Name', 'Gender'], right_on=['Name', 'Sex'])

In [ ]:
pd.merge(df1, df2, left_on=['Name', 'Gender'], right_on=['Name', 'Sex']).drop('Sex', axis=1)

In [ ]:
# duplicate
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'], 'City': ['London', 'Paris', 'Paris']})
df2 = pd.DataFrame({'City': ['London', 'Paris'], 'Country': ['England', 'France']})

In [ ]:
pd.merge(df1, df2)

In [ ]:
# join
df1 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'],
                    'Age': [43, 21, 52]})
df2 = pd.DataFrame({'Height': [1.8, 1.6, 1.7], 
                    'Weight': [60, 50, 70]})

In [ ]:
df1.join(df2)

In [ ]:
# join on column
df1 = pd.DataFrame({'Name': ['Barbara', 'Albert', 'Cathy'],
                    'Age': [43, 21, 52]})
df2 = pd.DataFrame({'Name': ['Albert', 'Barbara', 'Cathy'],
                    'Height': [1.8, 1.6, 1.7], 
                    'Weight': [60, 50, 70]})

In [ ]:
df1.join(df2.set_index('Name'), on='Name')

## Multi-index

In [ ]:
n_dates = 5
dates = pd.date_range('1/1/2021', periods=n_dates)
df = pd.DataFrame({'Date': dates, 'Rate': np.random.rand(n_dates), 'Currency': 'USD'})
df = df.append(pd.DataFrame({'Date': dates, 'Rate': np.random.rand(n_dates), 'Currency': 'EUR'}))

In [ ]:
df

In [ ]:
df.set_index(['Currency', 'Date'], inplace=True)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df['Rate']

In [ ]:
df.loc[('EUR', '2021-01-04')]

In [ ]:
df.loc['EUR']

In [ ]:
# cross section
df.xs('EUR', level='Currency')

In [ ]:
# cross section
df.xs('2021-01-04', level='Date')

In [ ]:
df

In [ ]:
df.unstack()

In [ ]:
df = df.swaplevel()
df = df.unstack()
df

In [ ]:
df.index

In [ ]:
df = df.stack()
df

In [ ]:
df.index

## Grouping

In [ ]:
n_dates = 100
dates = pd.date_range('1/1/2021', periods=n_dates)
df = pd.DataFrame()
for bank in ['A', 'B']:
    for currency in ['EUR', 'USD']:
        rates = np.cumprod(np.random.rand(n_dates) + 0.5)
        exposures = 100 + 10 * np.random.randn(n_dates)
        df = df.append(pd.DataFrame({'Date': dates, 
                                     'Rate': rates, 
                                     'Exposure': exposures, 
                                     'Currency': currency, 
                                     'Bank': bank}))

In [ ]:
df.head()

In [ ]:
df.groupby('Currency')

In [ ]:
df.groupby('Currency').get_group('EUR')

In [ ]:
# boolean mask (prefered)
df[df.Currency == 'EUR']

In [ ]:
df.groupby('Currency').mean()

In [ ]:
df.groupby('Currency').aggregate({'Rate': np.mean, 'Exposure': np.max})

In [ ]:
df.groupby('Currency').aggregate({'Rate': [np.mean, np.median], 'Exposure': [np.min, np.max]})

In [ ]:
df.groupby(['Currency', 'Bank']).mean()

In [ ]:
df.groupby(['Currency', 'Bank'])['Rate'].mean().unstack()

In [ ]:
# equivalent
df.pivot_table('Rate', index='Currency', columns='Bank')

In [ ]:
df.pivot_table('Rate', index='Currency', columns='Bank', margins=True)

In [ ]:
df.pivot_table(['Rate', 'Exposure'], 
               index='Currency', 
               columns='Bank', 
               aggfunc={'Rate': 'mean', 'Exposure':'max'}, 
               margins=True)

In [ ]:
# loop on groups
for bank, df_bank in df.groupby('Bank'):
    print(bank)
    print(df_bank.mean(numeric_only=True))

In [ ]:
df.groupby('Currency').transform(lambda x: x)

In [ ]:
df.groupby('Currency').transform(lambda x: 1/x)

## Read / write

In [ ]:
age = pd.Series({'Albert': 27, 
                 'Barbara': 42, 
                 'Cathy': 33, 
                 'David': 51})
gender = pd.Series({'Albert': 'M', 
                    'Barbara': 'F', 
                    'Cathy': 'F', 
                    'David': 'M'})

In [ ]:
df = pd.DataFrame({'Age': age, 'Gender': gender})

In [ ]:
# to csv
df.to_csv('toto.csv')

In [ ]:
# from csv
df = pd.read_csv('toto.csv', index_col=0)
df